
.certificates{
   
    background-color: $secondBackground;
    display: flex;
    text-align: center;
    

    h2{
        padding-top: 5rem;
        font-size: $font-xl ;
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        div{
        display: flex;
        width: 15rem;
        height: 15rem;
        background-color: transparent;
        border-radius: 1rem;
        margin: 1.5rem;
     
            
            img {
                transition: all 500ms ease-in-out;
                &:hover{
                    transform: scale(1.25);
                }
            }
        }
    }

    &__title {
        color: $white;
    }
}