

.footer {
    background-color: $fourthBackground;
    padding: 4rem;
    text-align: center;

    @include breakpoint-up(large){
        text-align: start;
    }

    a{
        color: white;
    }
    
    &__container{
       
        >div{
            @include breakpoint-up(large){

                max-width: 111rem;
                margin: 0 auto;

                display: flex; 
                justify-content: space-between;
                flex-direction: row;
            
            }

            .footer__contact{

                @include breakpoint-up(large){
                    flex-grow: 1;
                }
            
                &--logo{
                    img{
                    width: 15rem;
                    height: auto;
                    margin-bottom: 2rem;
                    } 
                }
        
                &--description{
                    font-size: $font-small;
                    margin-bottom: 5rem;
  
                }
        
                &--title{
                    color: $grey;

                    @include breakpoint-up(large){
                        margin-top: -4rem;
                    }
                
                }
        
                &--email{
                    font-size: $font-small;
                    

                    @include breakpoint-up(large){
                        margin-top: -1rem;
                    }
                }
        
                &--fb{
                    font-size: $font-small;
                img{  
                    width: 1.25rem;
                    height: auto;
                    }
                } 
            } 

            .footer__scz{

            @include breakpoint-up(large){
                flex-grow: 1;
                margin-top: -1rem;
            }

    
            h4  {
                font-size: $font-small;
                margin-top: 5rem;
                color: $grey;
                }
       
            p   {
                font-size: $font-small;
                }  
            }
       
            .footer__lpz{

                @include breakpoint-up(large){
                    flex-grow: 1;
                    margin-top: -1rem;
                }
       
           
       
                h4{
                    font-size: $font-small;
                    margin-top: 5rem;
                    color: $grey;
                }
       
                p{
                    font-size: $font-small;

                } 
            }

        }
            .footer__copyright{
                display: block;
           
                p{
                text-align: center;
                font-size: $font-small;

                }
            } 
    
    }  
}

             

        
    

    

 

 

 