
.header {
    background-color: $mainBackground;
    nav {
        padding: 2rem 2.5rem
    }

    &__logo {

        >img {
            max-width: 12.5rem;
            height: auto;
        }
    }
    
    // Mobile Menu Starts 

    &__navigation {

        // The following is for the menu that will cover the whole screen 
        &--mobile-menu{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $mainBackground;
            z-index: 2;
            transition: scale(0);
            opacity: 0;
            transition: 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            & ul {
                opacity: 0;
                transform: scale(0);
                transform: all 0.5s ease-in-out;
                padding-left: 0;
                line-height: 5rem;
                

                & li {
                    list-style: none;

                    & a {
                        color: $darkerGrey;
                        display: block;
                        font-size: 2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        text-align: center;
                        padding: 1rem 1rem;
                        position: relative;
                    }
                }
            }
        }

        & input {
            display: none;
            // This hides the checkbox 
    
    
            // The next actions are to happen in the future, I am just calling them before to avoid doble code
            &:checked ~ .header__menu__icon >.bar {
                background: transparent;
                // This vanishes the middle bar
    
                // These two turn the lines into an X 
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }
    
                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
            &:checked~ .header__navigation--mobile-menu{
                opacity: 1;
                transform: scale(1);
                

                & >ul{
                    opacity: 1;
                    transform: scale(1);
                    transition-delay: 0.1s;
                }
            }
        } 
        
        
    }
    
    &__menu {
        // Hamburger
        &__icon{
            background-color: $mainBackground;
            position: fixed;
            top: 3rem;
            right: 3rem;
            padding: 2rem 1rem;
            z-index: 3;

            

            // This represents the first line of the hamburger menu 
            & >.bar{
              width: 2.8rem;
              height: 0.3rem;
              background-color: $white;
              display: block;
              position: relative;
              transition: all 0.3s ease-out; 
              
              // This is the second line using a psuedo class 

                &::before {
                    content: " ";
                    width: 2.8rem;
                    height: 0.3rem;
                    background-color: $white;
                    position: absolute;
                    top: -0.8rem;
                    left: 0;
                    transition: all 0.3s;
                }

                // This is the third line
                &::after {
                    content: " ";
                    width: 2.8rem;
                    height: 0.3rem;
                    background-color: $white;
                    position: absolute;
                    top: 0.8rem;
                    left: 0;
                    transition: all 0.3s;
                }
            }   
        }
    }  
    // Mobile Menu Ends

    // Desktop Menu starts
    
    &__links {

        a {
            position: relative;
            font-size: $font-small;
            color: $grey;
            transition: all 350ms ease-in-out;

            &:not(:last-child){
                margin-right: 3.2rem;
            }

            &:before, &:after {

            }

            &:before {
                position: absolute;
                transition: all 0.35s ease;
                bottom: 0;
                display: block;
                height: 5px;
                width: 0%;
                content: "";
                background-color: #2980b9;

        
            }

            &:after {
                position: absolute;
                transition: all 0.35s ease;
                left: 0;
                top: -0.4rem;
                padding: 0.5em 0;
                content: attr(data-hover);
                color: #ffffff;
                white-space: nowrap;
                max-width: 0%;
                overflow: hidden;
            }

            // &:hover:before {
            //     opacity: 1;
            //     width: 100%;
            // }

            &:hover:after {
                max-width: 100%;
            }
        }
    }
}   