
.hero {
    margin-top: -0.1rem;
    background-color: $mainBackground;
    height: 100vh;

    & .container {
        // This one applies the grid to the container only, otherwise the image would act like a block
        @include breakpoint-up(large){
            height: 100vh;
            display: grid;
            grid-template-columns:  1fr 1fr ;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
                "text image"
                "office office";
            justify-items: center;
        }
    }

    // @include breakpoint-up(large){
    //     display: flex;
    //     border: 1px solid red;
    //     min-height: 10rem;
    //     align-items: center;
    // }

    &__image {
        position: relative;
        height: 30%;
        width: 100%;
        margin-top: 7rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 15rem;

        @include breakpoint-up(medium){
            grid-area: image;
        }

        @include breakpoint-up(large){
        padding-top: 0rem;
        height: 100%;
        }


        // @include breakpoint-up(large){
        //     flex: 1; 
        //     // This defines how many fr of the screen each portion gets 
        // }

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url('/img/pistonsReady.png');
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center center;

            @include breakpoint-up(large){
                background-size: 111%;
                margin-right: 5rem;
            }
        }
    }

    &__text {
        padding-top: 3rem;
        
        text-align: center;

        p{
            margin-bottom: 5rem;
        }
        
        @include breakpoint-up(medium){
            grid-area: text;
        }

        @include breakpoint-up(large){
            text-align: start;
            margin-right: 20rem;
            padding-top: 13rem;
        }
        

        // @include breakpoint-up(large) {
        //     flex: 1;
        // }

    }

    &__oficinas {
        text-align: center;
        @include breakpoint-up(medium){
            grid-area: office;
        }

        // @include breakpoint-up(large){
        //     display: inline-block;
        // }

        p {
            padding-bottom: 5rem;
            padding-left: 5rem;
            padding-right: 5rem;
            line-height: 5;
            font-size: $font-small;
            color: $grey;

            @include breakpoint-up(large){
                padding-bottom: 5rem;
            }
        }
    }

}