
.products__container{
    
    background-color: $thirdBackground;
    height: 100vh;
    width: 100%;
    min-width: 32rem;
    padding-top: 7rem;
    text-align: center;


    &__title {
        width: 90%;
        min-width: 28rem;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5rem;

        h2{
            padding-top: 5rem;
            font-size: $font-medium;
            font-weight: bold;
            line-height: 2.6rem;
            color: $grey;
        }

        p{
            padding-top: 3rem;
            font-size: $font-small;
            font-weight: 500;
            line-height: 1.8rem;
            color: $grey;
        }
    }   
}


.slider {
    scroll-snap-type: x proximity;
    overflow-x:hidden;
    

    .product__container{
        
        position: relative;
        scroll-snap-align: center;
        width: 70%;
        min-width: 23rem;
        max-width: 25rem;
        height: 38rem;
        margin: 5rem auto 0;
        padding: 0 1.5rem;
        background-color: $boxes;
        box-shadow: 0 0.4rem 0.8rem rgba(36, 34, 34, 0.16);
        border-radius: 1rem;
    }

    .product__card{
        padding-top: 3rem;
        font-size: $font-small;
        font-weight: 500;
        line-height: 1.8rem;
        color: black;
    
        
    
        .slide-img{
            height: 15rem;
            position: relative;
    
            &:hover .overlay {
                visibility: visible;
                animation: fade ease-in-out 0.5s; 
            }
    
            .overlay {
                    visibility: hidden;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 100%;
                    height: 100%;
                    background-color: $boxes;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        }
    
        &--title {
            font-size: $font-large;
            font-weight: bold;
            color: $grey;
        }
        &--description {
            font-size: $font-small;
            color: $grey;
        }
    
        &--img {
            width: auto;
            height: 15rem;
        }
    
        &--cta {
            margin-bottom: 15rem;
            padding: 1.4rem 3rem;
            border: 0.2rem solid $golden;
            border-radius: 1.5rem;
            cursor: pointer;
            color: $golden;
            font-weight: 400;
            transition: all 300ms ease-in-out;
    
        &:hover, :focus {
            font-weight: 400;
            background: $golden;
            color: $mainBackground;
            }
        }
    }
}


