
.quality {
    background-color: $thirdBackground;
    text-align: center;

    @include breakpoint-up(large){
        height: 80vh;
    }

    @include breakpoint-up(xlarge){
        height: 60vh;
    }

    
    &__container {
        @include breakpoint-up(large){
            height: 100vh;
            display: flex;
            text-align: start;
        }

        @include breakpoint-up(large){
            height: 60vh;
            
        }
    }

    &__product{
           
        img{
            height: 40rem;
            width: auto;
            display: none;
            
            @include breakpoint-up(medium){
                margin-left: 15rem;
                display: block;
            }
        }
    }

    &__instructions{
        margin-right: 2rem;
        margin-left: 2rem;
        padding-bottom: 10rem ; 
        padding-top: 8rem;

        

        @include breakpoint-up(large){

            margin-right: 20rem;
            
        }
        &--title{
            font-size: 2rem;

        }

        &--subtitle{
            
            color: $grey;
            font-size: small;
            @include breakpoint-up(large){
                margin-top: 5rem;
                
            }
        }

        &--list{
            margin-top: 2.5rem;
            color: $grey;
            font-size: small;
            
            & li {
                margin-top: 1rem;
                
            }
        }

        &--end{
            margin-top: 2.5rem;
            padding-bottom: 5rem;
            color: $grey;
            font-size: small;
           
        }

    }
}



