
// Colors

$mainBackground: #0F0F0F;
$secondBackground: #0C0C0C;
$thirdBackground: #0A0A0A;
$fourthBackground: #000000;

$boxes: #151517;

$darkerGrey: #4A4A51;
$grey: #909095;
$lightGrey: #C4C4C4;
$darkerGolden: #D4AF37;
$golden: #F4D38B;
$white: #FFFFFF;

// Fonts

$font-xs: 1rem ;
$font-small: 1.2rem ;
$font-medium: 1.4rem ;
$font-large: 1.6rem ;
$font-xl: 2.2rem;


// Buttons

button, button {
    padding: 1.4rem 3rem;
    background-color: white;
    border-radius: 5rem;
    cursor: pointer;
    color: black;
    font-weight: bold;


}
