button, button {
  padding: 1.4rem 3rem;
  background-color: white;
  border-radius: 5rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, button {
  padding: 1.4rem 3rem;
  background-color: white;
  border-radius: 5rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background-color: #0F0F0F;
}

.header nav {
  padding: 2rem 2.5rem;
}

.header__logo > img {
  max-width: 12.5rem;
  height: auto;
}

.header__navigation--mobile-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0F0F0F;
  z-index: 2;
  -webkit-transition: scale(0);
  transition: scale(0);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation--mobile-menu ul {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform: all 0.5s ease-in-out;
          transform: all 0.5s ease-in-out;
  padding-left: 0;
  line-height: 5rem;
}

.header__navigation--mobile-menu ul li {
  list-style: none;
}

.header__navigation--mobile-menu ul li a {
  color: #4A4A51;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem 1rem;
  position: relative;
}

.header__navigation input {
  display: none;
}

.header__navigation input:checked ~ .header__menu__icon > .bar {
  background: transparent;
}

.header__navigation input:checked ~ .header__menu__icon > .bar::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__navigation input:checked ~ .header__menu__icon > .bar::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__navigation input:checked ~ .header__navigation--mobile-menu {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__navigation input:checked ~ .header__navigation--mobile-menu > ul {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header__menu__icon {
  background-color: #0F0F0F;
  position: fixed;
  top: 3rem;
  right: 3rem;
  padding: 2rem 1rem;
  z-index: 3;
}

.header__menu__icon > .bar {
  width: 2.8rem;
  height: 0.3rem;
  background-color: #FFFFFF;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__menu__icon > .bar::before {
  content: " ";
  width: 2.8rem;
  height: 0.3rem;
  background-color: #FFFFFF;
  position: absolute;
  top: -0.8rem;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu__icon > .bar::after {
  content: " ";
  width: 2.8rem;
  height: 0.3rem;
  background-color: #FFFFFF;
  position: absolute;
  top: 0.8rem;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__links a {
  position: relative;
  font-size: 1.2rem;
  color: #909095;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 3.2rem;
}

.header__links a:before {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  bottom: 0;
  display: block;
  height: 5px;
  width: 0%;
  content: "";
  background-color: #2980b9;
}

.header__links a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  left: 0;
  top: -0.4rem;
  padding: 0.5em 0;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.header__links a:hover:after {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */