html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo > img {
  max-width: 10rem;
  height: auto;
}

.header__menu body {
  background: #0F0F0F;
}

.header__menu nav {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
}

.header__menu nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #F4D38B;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}

.header__menu nav a:after {
  content: '';
  position: absolute;
  background: #0F0F0F;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}

.header__menu nav a:hover:after, .header__menu nav a:focus:after, .header__menu nav a:active:after {
  width: 100%;
}

.header__menu .button__container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.header__menu .button__container:hover {
  opacity: .7;
}

.header__menu .button__container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #D4AF37;
}

.header__menu .button__container.active .middle {
  opacity: 0;
  background: #D4AF37;
}

.header__menu .button__container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #D4AF37;
}

.header__menu .button__container span {
  background: #0F0F0F;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.header__menu .button__container span:nth-of-type(2) {
  top: 11px;
}

.header__menu .button__container span:nth-of-type(3) {
  top: 22px;
}

.header__menu .overlay {
  position: fixed;
  background: #D4AF37;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.header__menu .overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.header__menu .overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.header__menu .overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.header__menu .overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.header__menu .overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.header__menu .overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.header__menu .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.header__menu .overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.header__menu .overlay ul li a {
  display: block;
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  overflow: hidden;
}

.header__menu .overlay ul li a:hover:after, .header__menu .overlay ul li a:focus:after, .header__menu .overlay ul li a:active:after {
  width: 100%;
}

.header__menu .overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */